.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    cursor: pointer;
}
br{
    border-spacing: 100px;
}
.lo{
    float: right;
    width:68%;
}


h2 {
    margin-top: 0;
}